<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kaythy's Resume</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  </head>
  <body>
    <div class="container is fluid" id="resume"> 
      <section class="hero">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <div class="level"></div>
                  <div class="level-item has-text-centered">
                    <div class="hero-body">
                      <p class="title">Kaythy Liao</p>
                      <p class="subtitle">linkedin.com/in/kaythy-liao | kaythyliao@gmail.com | 720-266-7282</p>
                    </div>
                  </div>
                  </div>
                </th>
                <th></th>
                <th>
                  <p><a href="../index.html">home</a></p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><strong>EDUCATION</strong></th>
                <th><strong>CGPA</strong></th>
                <th><strong>YEARS</strong></th>
              </tr>
              <tr>
                <td>University of Colorado Boulder</td>
                <td>3.4</td>
                <td>2021-2025</td>
              </tr>
              <tr>
                <th><strong>RELATED EXPERIENCE</strong></th>
                <th></th>
                <th><strong>YEAR</strong></th>
              </tr>
              <tr>
                <td>
                  <h1><strong>Undergrad Research Assistant at University of Colorado Boulder</strong></h1>
                  <p> Preforms synthesis reactions. Uses column to separate products. Uses TLC and NMR to analyze the products. 
                  </p>
                </td>
                <td></td>
                <td>08/2024-present</td>
              </tr>
              <tr>
                <td>
                  <h1><strong>LearnCheme at University of Colorado Boulder (Boulder, CO)</strong></h1>
                  <p>Embedded over 30 html simulations onto website. 
                    Reviewed chemical engineering study modules for accuracy and clarity.
                    Ensured accuracy and usability of chemical engineering simulations.
                    Converted MATLAB simulations into executables.
                  </p>
                </td>
                <td></td>
                <td>10/2023-05/2024</td>
              </tr>
              <tr>
                <td>
                  <h1><strong>Computer Science 1: Starting Computing at University of Colorado Boulder (Boulder, CO) </strong></h1>
                  <p>Embedded over 30 html simulations onto website. 
                    Reviewed chemical engineering study modules for accuracy and clarity.
                    Ensured accuracy and usability of chemical engineering simulations.
                    Converted MATLAB simulations into executables.
                  </p>
                </td>
                <td></td>
                <td>10/2023-05/2024</td>
              </tr>
            </tbody>
          </table>
      </section>
    </div>
  </body>
</html>